@model MVC_ONION_PROJECT.PRESENTATION.IDENTITY.Areas.Employee.Models.EmployeeAdvanceVms.EmployeeAdvanceUpdateVm;
@{
    Layout = "_Layout";
}
<div class="page-header">
    <div class="row align-items-center">
        <div class="col">
            <h3 class="page-title">Avanslar</h3>
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Anasayfa</a></li>
                <li class="breadcrumb-item"><a asp-controller="EmployeeAdvance" asp-action="Index">Avanslar</a></li>
                <li class="breadcrumb-item active">Avans Talebini Güncelle</li>
            </ul>
        </div>
    </div>
</div>
<form asp-area="Employee" asp-controller="EmployeeAdvance" asp-action="EditAdvancePayment">
    <div class="col-md-6 col-sm-12 mb-4">
        <div class="input-block mb-3 form-focus marrg">
            <input asp-for="Id" hidden>
            <input asp-for="AdvancePrice" type="text" class="form-control floating">
            <label asp-for="AdvancePrice" class="focus-label"></label>
            <span asp-validation-for="AdvancePrice" class="text-danger"></span>
        </div>
        <div class="input-block mb-3 form-focus marrg">
            <input asp-for="Reason" type="text" class="form-control floating">
            <label asp-for="Reason" class="focus-label"></label>
            <span asp-validation-for="Reason" class="text-danger"></span>
        </div>
    </div>

    <div class="col-md-6 col-sm-12">
        <button class="btn btn-primary" type="submit"><i class="fa-solid fa-pencil m-r-5" ></i> Güncelle</button>
        <a class="btn btn-secondary" asp-area="Employee" asp-controller="EmployeeAdvance" asp-action="index"><i class="fa fa-arrow-left" aria-hidden="true"></i>  Geri Dön</a>
    </div>
</form>