@model MVC_ONION_PROJECT.PRESENTATION.IDENTITY.Areas.OrganizationAdmin.Models.EmployeeVms.EmployeeUpdateVm;
@{
    Layout = "_Layout";
}
<div class="page-header">
    <div class="row align-items-center">
        <div class="col">
            <h3 class="page-title">Çalışanlar</h3>
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Anasayfa</a></li>
                <li class="breadcrumb-item"><a asp-controller="Employee" asp-action="Index">Çalışan Listesi </a></li>
                <li class="breadcrumb-item active">Çalışan Güncelleme İşlemi</li>
            </ul>
        </div>
    </div>
</div>
<form asp-area="OrganizationAdmin" enctype="multipart/form-data" asp-controller="Employee" asp-action="EditEmployee">
    <div class="row">
        <div class="col-sm-6">
            <div class="input-block mb-3">
                <label asp-for="Name" class="control-label">
                </label>
                <input asp-for="Name" class="form-control" type="text">
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="input-block mb-3">
                <label asp-for="Surname" class="control-label">
                </label>
                <input asp-for="Surname" class="form-control" type="text">
                <span asp-validation-for="Surname" class="text-danger"></span>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="input-block mb-3">
                <label asp-for="GenderStatus" class="control-label">
                </label>
                <select asp-for="GenderStatus" class="select">
                    <option selected>Seçiniz..</option>
                    <option value="Erkek">Erkek</option>
                    <option value="Kadın">Kadın</option>
                </select>
                <span asp-validation-for="GenderStatus" class="text-danger"></span>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="input-block mb-3">
                <label asp-for="Address" class="control-label">
                </label>
                <input asp-for="Address" class="form-control" type="text">
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="input-block mb-3">
                <label asp-for="PhoneNumber" class="control-label">
                </label>
                <input asp-for="PhoneNumber" id="phone" class="form-control" type="text">
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="input-block mb-3">
                <label asp-for="RecruitmentDate" class="control-label">
                </label>
                <input asp-for="RecruitmentDate" value="@DateTime.Now.ToString("yyyy-MM-dd")" class="form-control" type="date">
                <span asp-validation-for="RecruitmentDate" class="text-danger"></span>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="input-block mb-3">
                <label asp-for="DepartmentId" class="control-label">
                </label>
                <select asp-for="DepartmentId" asp-items="Model.DepartmentList" class="select">
                    <option selected>Seçiniz..</option>
                </select>
                <span asp-validation-for="DepartmentId" class="text-danger"></span>
            </div>
        </div>

        @{
            string encodedData = Convert.ToBase64String(Model?.Photo ?? new byte[0]);
        }
        <div class="col-sm-6 ">
            <div class="input-block mb-3">
                <label for="fileInput" class="row align-items-center">
                    <label class="col-2" asp-for="File"></label>
                    @if (Model.Photo is null)
                    {
                        <img class="img5 offset-2 col-2 " id="uploadedImage" src="/uploads/plus-icon.png" alt="Yüklenen Resim">
                    }
                    else
                    {
                        <img class="img5 offset-2 col-2 " id="uploadedImage" src="data:image/jpeg;base64,@(encodedData)" alt="Yüklenen Resim">
                    }      
                </label>
                <input asp-for="File" id="fileInput" hidden type="file" accept="image/*" />
                <span asp-validation-for="File" class="text-danger"></span>
            </div>
        </div>
    
 
 
    
    </div>
    <div class="col-md-6 col-sm-12">
        <button class="btn btn-primary" type="submit"><i class="fa-solid fa-pencil m-r-5"></i> Güncelle</button>
        <a class="btn btn-secondary" asp-area="OrganizationAdmin" asp-controller="Employee" asp-action="index"><i class="fa fa-arrow-left" aria-hidden="true"></i>  Geri Dön</a>
    </div>
</form>
