@using MVC_ONION_PROJECT.PRESENTATION.IDENTITY.Vms;
@model ChangePasswordVM;

@{
    Layout = "_Layout";
}

<form asp-controller="Home" asp-action="ChangePassword">

    <div class="col-md-6 col-sm-12 mb-5">
        <div class="input-block mb-3">
            <label asp-for="OldPassword" class="control-label">Eski Şifre</label>
                <input asp-for="OldPassword" class="form-control" type="password" id="password">
            <span asp-validation-for="OldPassword" class="text-danger"></span>
        </div>
    </div>

    <div class="col-md-6 col-sm-12 mb-5">
        <div class="input-block mb-3">
            <label asp-for="NewPassword" class="control-label">Yeni Şifre</label>
            <input asp-for="NewPassword" class="form-control" type="password">
            <span asp-validation-for="NewPassword" class="text-danger"></span>
        </div>
    </div>

    <div class="col-md-6 col-sm-12 mb-5">
        <div class="input-block mb-3">
            <label asp-for="ConfirmNewPassword" class="control-label">Yeni Şifre Tekrarı</label>
            <input asp-for="ConfirmNewPassword" class="form-control" type="password">
            <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
        </div>
    </div>

    <div class="col-md-6 col-sm-12">
        <button class="btn btn-primary" type="submit"> <i class="fa-solid fa-pencil m-r-5"></i> Güncelle</button>
        <a class="btn btn-secondary" asp-area="SuperAdmin" asp-controller="Home" asp-action="index"><i class="fa fa-arrow-left" aria-hidden="true"></i>  Geri Dön</a>
    </div>
</form>
